body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav .sama-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
}

nav .sama-logo.center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-move{
  cursor: pointer;
}


.wonsama {
  /*margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;*/
}

.wonsama .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 0px;
  margin: 0;
  /*border-bottom: 1px solid #e0e0e0;*/
}

.wonsama .collection-item.avatar {
  min-height: 84px;
  padding-left: 70px;
  position: relative;
}

.wonsama .collection-item.avatar:not(.circle-clipper) > .circle,
.wonsama .collection-item.avatar :not(.circle-clipper) > .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.wonsama .collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

.wonsama .collection-item.avatar .title {
  font-size: 16px;
}

.wonsama .collection-item.avatar p {
  margin: 0;
}

.wonsama .collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 0px;
}

.wonsama .collection-item:last-child {
  border-bottom: none;
}

.wonsama .collection-item.active {
  background-color: #26a69a;
  color: #eafaf9;
}

.wonsama .collection-item.active .secondary-content {
  color: #fff;
}

.wonsama a.collection-item {
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  color: #26a69a;
}

.wonsama a.collection-item:not(.active):hover {
  background-color: #ddd;
}

.wonsama.with-header .collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
}

.wonsama.with-header .collection-item {
  padding-left: 30px;
}

.wonsama.with-header .collection-item.avatar {
  padding-left: 72px;
}

img.ad{
  min-width: 100%;
  height: auto;
  
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 5px;
}